package usf.edu.bronie.sqlcrawler.constants;

public class CredentialConstants {

    public static final String RESOURCES = "Sqlcrawler/src/main/resources/";
    public static final String GITHUB_TOKEN = "";
}
