package usf.edu.bronie.sqlcrawler.constants;

public class CredentialConstants {
    public static final String GITHUB_TOKEN = "";
    public static final String GITHUB_CACHE_FILE = "./.github_cache";

    // 50 MB cache by default.
    // Aiming for about 100 pages (100 results each, total of 1000 cached results). 
    // A single page is roughly 400KB.
    public static final int GITHUB_CACHE_SIZE = 50 * 1024 * 1024;  

    public static final String DB_URL = "jdbc:mysql://localhost:3306/crawler";
    public static final String DB_USER = "";
    public static final String DB_PASS = "";

}
