package usf.edu.bronie.sqlcrawler.constants;

public class CredentialConstants {

    public static final String RESOURCES = "Sqlcrawler/src/main/resources/";
    public static final String GITHUB_TOKEN = "";

    public static final String DB_URL = "jdbc:mysql://localhost:3306/crawler";
    public static final String DB_USER = "";
    public static final String DB_PASS = "";
}
